In [1]:
import pandas as pd
from os.path import join

In [2]:
data_path = join('data', 'raw_data.csv')
df = pd.read_csv(data_path)

In [3]:
df.head()

,nom,prenom,age,taille,poids,sexe,sport_licence,niveau_etude,region,smoker,nationalité_francaise,revenu_estime_mois,situation_familiale,historique_credits,risque_personnel,date_creation_compte,score_credit,loyer_mensuel,montant_pret
0,Foster,Steven,19,175.0,62.5,H,non,bac,Île-de-France,oui,oui,4958,veuf,NaN,0.19,2021-04-04,NaN,NaN,500.000000
1,Tapia,Todd,31,190.0,63.5,H,oui,bac+2,Corse,non,oui,3001,veuf,NaN,0.93,2023-03-19,NaN,1270.84,786.595929
2,Hardy,Michelle,68,174.6,66.5,H,oui,doctorat,Auvergne-Rhône-Alpes,oui,oui,3758,NaN,NaN,0.68,2024-08-27,576.0,NaN,29093.676397
3,Newton,Kenneth,50,187.1,106.8,H,oui,master,Occitanie,non,non,3967,marié,NaN,0.68,2022-03-18,NaN,10000.00,7823.303925
4,Davila,Kathleen,42,169.7,63.4,H,oui,master,Provence-Alpes-Côte d’Azur,non,non,2091,NaN,3.0,0.92,2020-10-17,NaN,5000.00,500.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   nom                    10000 non-null  object
 1   prenom                 10000 non-null  object
 2   age                    10000 non-null  int64
 3   taille                 10000 non-null  float64
 4   poids                  10000 non-null  float64
 5   sexe                   10000 non-null  object
 6   sport_licence          10000 non-null  object
 7   niveau_etude           10000 non-null  object
 8   region                 10000 non-null  object
 9   smoker                 10000 non-null  object
 10  nationalité_francaise  10000 non-null  object
 11  revenu_estime_mois     10000 non-null  int64
 12  situation_familiale    7545 non-null   object
 13  historique_credits     4692 non-null   float64
 14  risque_personnel       10000 non-null  float64
 15  date_creation_compte   10000 non-null  object
 16  score_credit           4744 non-null   float64
 17  loyer_mensuel          7029 non-null   float64
 18  montant_pret           10000 non-null  float64
dtypes: float64(7), int64(2), object(10)
memory usage: 1.4+ MB